#canvas {
    width:500px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(103,103,103);
    border: 10px solid black;
}
body{
    padding:0px;
    margin:0px;
    border:0px;
    background-color: rgb(103,103,103);
}
#topBar{
    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -10%);
    display:flex;
    justify-content: center;
    align-items: center;
    width:75%;
}